<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .table th,
        .table td {
            width: 33.33%;
            /* Example: Equal width for each column */
        }
    </style>
</head>

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped" style=" width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email ID</th>
                                    <th scope="col">Verified</th>
                                    <th scope="col">Block/Unblock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(function(users){ %>
                                    <tr>
                                        <td>
                                            <%= users.name %>
                                        </td>
                                        <td>
                                            <%= users.email %>
                                        </td>
                                        <td>
                                            <%= users.isVerified %>
                                        </td>
                                        <td>
                                            <% if (!users.isBlocked) { %>
                                                <button class="btn btn-danger block-unblock-button"
                                                    data-id="<%= users._id %>"
                                                    onclick="block('<%= users._id %>')">Block</button>
                                                <% } else { %>
                                                    <button class="btn btn-success block-unblock-button"
                                                        data-id="<%= users._id %>"
                                                        onclick="unblock('<%= users._id %>')">Unblock</button>
                                        </td>
                                        <% } %>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        function block(id) {
            if (id) {
                Swal.fire({
                    title: "Confirm block",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#FF0000",
                    cancelButtonColor: "#008000",
                    confirmButtonText: "Are you sure want to Block this user?",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/admin/block-user/" + id,
                            type: "get",
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire("Blocked!", "User has been blocked.", "success");
                                    updateButtonDisplay(id, true);
                                } else {
                                    Swal.fire("Error", "Failed to block user.", "error");
                                }
                            },
                            error: function () {
                                Swal.fire("Error", "Something went wrong.", "error");
                            }
                        });
                    }
                });
            } else {
                console.error("user id is undefined");
            }
        }

        function unblock(id) {
            if (id) {
                Swal.fire({
                    title: "Confirm unblock",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#FF0000",
                    cancelButtonColor: "#008000",
                    confirmButtonText: "Are you sure want to unblock this user?",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/admin/unblock-user/" + id,
                            type: "get",
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire("Unblocked!", "User has been unblocked.", "success");
                                    updateButtonDisplay(id, false);
                                } else {
                                    Swal.fire("Error", "Failed to unblock user.", "error");
                                }
                            },
                            error: function () {
                                Swal.fire("Error", "Something went wrong.", "error");
                            }
                        });
                    }
                });
            } else {
                console.error("user id is undefined");
            }
        }

        function updateButtonDisplay(id, isBlocked) {
            var buttons = document.querySelectorAll('.block-unblock-button[data-id="' + id + '"]');
            console.log("Buttons are: ",buttons);
            buttons.forEach(function (button) {
                if (isBlocked) {
                    button.innerText = 'Unblock';
                    button.setAttribute('onclick', 'unblock("' + id + '")');
                    button.classList.remove('btn-danger');
                    button.classList.add('btn-success');
                } else {
                    button.innerText = 'Block';
                    button.setAttribute('onclick', 'block("' + id + '")');
                    button.classList.remove('btn-success');
                    button.classList.add('btn-danger');
                }
            });
        }





    </script>
</body>