<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Wait for the document to be fully loaded
            var dressesLink = document.querySelector('.navbar .dropdown .nav-link');

            // Check if the element is found
            if (dressesLink) {
                dressesLink.addEventListener('click', function (event) {
                    // Prevent the default behavior (e.g., opening the dropdown)
                    event.preventDefault();
                    // You can add your custom logic here if needed
                });
            }
        });
    </script>
    <!-- <style>
        .navbar .dropdown.show .dropdown-menu {
          display: none !important;
        }
      </style> -->




</head>
<header>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products" id="search-input">
                        <div class="input-group-append">
                            <button type="button" id="search" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- user-header.ejs -->
            <div class="col-lg-3 col-6 text-right">
                <!-- <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a> -->
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge" id="cart-count">
                        <%= typeof cartCount !=='undefined' ? cartCount : 0 %>
                    </span>
                </a>
            </div>

        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <% if (typeof req !=='undefined' ) { %>
        <% if (req.url !=='/login' && req.url !=='/signup' && req.url!=='/forgot-password' &&
            req.url!=='/admin/resetPassword' && !req.url.startsWith('/enter-otp-forgot') &&
            !req.url.startsWith('/resetPassword')) { %>

            <div class="container-fluid mb-5">
                <div class="row border-top px-xl-5">

                    <div class="col-lg-3 d-none d-lg-block">
                        <% if (typeof req !=='undefined' ) { %>
                            <% if (req.url !=='/wallet' && !req.url.startsWith('/details') && req.url !=='/cart' &&
                                req.url !=='/place-order' && req.url !=='/profile' && req.url !=='/cart' &&
                                !req.url.startsWith('/order-success') && !req.url.startsWith('/view-ordered-products')
                                && !req.url.startsWith('/edit-profile') && !req.url.startsWith('/view-ordered-product-list')){ %>
                                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                                    data-toggle="collapse" href="#navbar-vertical"
                                    style="height: 65px; margin-top: -1px; padding: 0 30px;">
                                    <h6 class="m-0">Categories</h6>
                                    <i class="fa fa-angle-down text-dark"></i>
                                </a>
                                <nav class="collapse navbar-dropdowns navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                                    id="navbar-vertical" style="width: 325px;">
                                    <div class="navbar-nav w-100 overflow-hidden" style="height: 100%">
                                        <% for (let i=0; i < categories.length; i++) { %>
                                            <a href="#" class="nav-item nav-link btn category-button"
                                                data-category="<%= categories[i].category %>">
                                                <%= categories[i].category %>
                                            </a>
                                            <% } %>
                                    </div>
                                </nav>
                                <% } %>
                                    <% } %>
                    </div>

                    <div class="col-lg-9">
                        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                            <a href="" class="text-decoration-none d-block d-lg-none">
                                <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                        class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                            </a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav mr-auto py-0">
                                    <a href="/" class="nav-item nav-link active">Home</a>
                                    <a href="shop.html" class="nav-item nav-link">Shop</a>
                                    <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                                    <a href="/wallet" class="nav-item nav-link">Wallet</a>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                        <div class="dropdown-menu rounded-0 m-0">
                                            <a href="/cart" class="dropdown-item">Shopping Cart</a>
                                            <a href="/profile" class="dropdown-item">Profile</a>
                                            <% if (typeof user !=='undefined' && user) { %>
                                                <a href="/view-ordered-product-list/<%= user._id %>"
                                                    class="dropdown-item">Orders</a>
                                                <% } %>
                                        </div>
                                    </div>
                                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                                </div>
                                <!-- Check if user is defined before accessing its properties -->
                                <% if (typeof user !=='undefined' && user) { %>
                                    <div>
                                        <%= user.name %>
                                            <a href="/logout"><button type="button"
                                                    class="btn btn-primary">Logout</button></a>
                                    </div>
                                    <% } else { %>
                                        <div class="navbar-nav ml-auto py-0">
                                            <a href="/login" class="nav-item nav-link">Login</a>
                                            <a href="/signup" class="nav-item nav-link">Register</a>
                                        </div>
                                        <% } %>


                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <% } %>
                <% } %>

                    <script>
                        $(document).ready(function () {
                            $('#navbar-vertical').collapse('hide');
                        });
                    </script>

                    <!-- Navbar End -->
</header>