<!-- user/edit-profile.ejs -->

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <div class="mb-4">
                <form action="/edit-profile/<%= userDetails._id %>" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" placeholder="" name="name"
                                value="<%= userDetails.name || '' %>">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com" name="email"
                                value="<%= userDetails.email || '' %>" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789" name="mobile"
                                value="<%= userDetails.mobile || '' %>">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Pincode</label>
                            <input class="form-control" type="text" placeholder="+123 456 789" name="pincode"
                                value="<%= userDetails.pincode || '' %>">
                        </div>
                        <% if (userDetails.addresses) { %>
                            <% userDetails.addresses.forEach((address, index) => { %>
                                <div class="col-md-6 form-group">
                                    <label>Address <%= index + 1 %></label>
                                    <input class="form-control" type="text" placeholder="123 Street" name="address<%= index + 1 %>"
                                        value="<%= address %>">
                                </div>
                            <% }); %>
                        <% } %>
                        <div class="col-md-6 form-group" id="address-section">
                            <!-- Additional address fields will be appended here -->
                        </div>
                        <div class="col-md-6 form-group">
                            <button type="button" class="btn btn-primary mt-3" id="addAddressBtn">Add Address</button> 
                        </div>
                    </div>
                    <button class="btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('addAddressBtn').addEventListener('click', function() {
        var addressSection = document.getElementById('address-section');
        var newAddressDiv = document.createElement('div');
        newAddressDiv.classList.add('col-md-6', 'form-group');
        newAddressDiv.innerHTML = `
            <label>New Address</label> <!-- Changed label text -->
            <input class="form-control" type="text" placeholder="123 Street" name="newAddress">
        `;
        addressSection.appendChild(newAddressDiv);
    });
</script>
