<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form action="" id="checkout-form">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <label class="col-md-12">Select Address</label>
                        <div class="col-md-6">
                            <input type="radio" name="addressGroup" value="address1" id="address1" checked>
                            <label for="address1" style="font-weight: bolder;">Address In Profile</label>
                        </div>
                        <div class="col-md-6">
                            <input type="radio" name="addressGroup" value="address2" id="address2">
                            <label for="address2" style="font-weight: bolder;">New Address</label>
                        </div>
                    </div>
                    <div class="row address-fields" id="address1Fields">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="John" name="name"
                                    value="<%= userDetails.name %>" readonly>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com" name="email"
                                    value="<%= userDetails.email %>" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789" name="mobile"
                                    value="<%= userDetails.mobile %>" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="address"
                                    value="<%= userDetails.address %>" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Pincode</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="pincode"
                                    value="<%= userDetails.pincode %>" readonly>
                            </div>
                            <input type="text" name="userId" value="<%= user._id%>" hidden>
                        </div>
                    </div>
                    <div class="row address-fields" id="address2Fields" style="display:none;">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="John" name="name">
                            </div>

                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com" name="email">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789" name="mobile">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="address">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Pincode</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="pincode">
                            </div>
                            <input type="text" name="userId" value="<%= user._id%>" hidden>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <!-- <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 1</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 3</p>
                            <p>$150</p>
                        </div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div> -->
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹<%= total %>.00</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" value="COD">
                                <label class="custom-control-label" for="paypal">COD</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->
<script>
    $(document).ready(function () {
        $('input[name="addressGroup"]').change(function () {
            var selectedAddress = $('input[name="addressGroup"]:checked').val();
            $('.address-fields').hide();
            $('#' + selectedAddress + 'Fields').show();
        });
    });
</script>
<script>
  $("#checkout-form").submit((e) => {
    e.preventDefault();

    // Get the selected address group
    var selectedAddressGroup = $('input[name="addressGroup"]:checked').val();

    // Append the selected address group to the serialized form data
    var formData = 'selectedAddressGroup=' + selectedAddressGroup;

    if (selectedAddressGroup === 'address1') {
        formData += '&' +
            'name=' + $('#address1Fields input[name="name"]').val() +
            '&email=' + $('#address1Fields input[name="email"]').val() +
            '&mobile=' + $('#address1Fields input[name="mobile"]').val() +
            '&address=' + $('#address1Fields input[name="address"]').val() +
            '&pincode=' + $('#address1Fields input[name="pincode"]').val()+
            '&userId=' + $('#address1Fields input[name="userId"]').val();
            
    } else if (selectedAddressGroup === 'address2') {
        formData += '&' +
            'name=' + $('#address2Fields input[name="name"]').val() +
            '&email=' + $('#address2Fields input[name="email"]').val() +
            '&mobile=' + $('#address2Fields input[name="mobile"]').val() +
            '&address=' + $('#address2Fields input[name="address"]').val() +
            '&pincode=' + $('#address2Fields input[name="pincode"]').val()+
            '&userId=' + $('#address2Fields input[name="userId"]').val();
            

    }
    formData += '&' + 'payment=' + $('input[name="payment"]:checked').val();

    $.ajax({
        url: '/place-order',
        method: 'post',
        data: formData,
        success: (response) => {
            if (response.status) {
                location.href = '/order-success?orderId=' + response.orderId;
            }
        }
    });
});



</script>