<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form action="" id="checkout-form">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <label class="col-md-12">Select Address</label>
                        <div class="col-md-6">
                            <input type="radio" name="addressGroup" value="address1" id="address1" checked>
                            <label for="address1" style="font-weight: bolder;">Address In Profile</label>
                        </div>
                        <div class="col-md-6">
                            <input type="radio" name="addressGroup" value="address2" id="address2">
                            <label for="address2" style="font-weight: bolder;">New Address</label>
                        </div>
                    </div>
                    <div class="row address-fields" id="address1Fields">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="John" name="name"
                                    value="<%= userDetails.name %>" readonly>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com" name="email"
                                    value="<%= userDetails.email %>" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789" name="mobile"
                                    value="<%= userDetails.mobile %>" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address</label>
                                <% if (userDetails.addresses && userDetails.addresses.length> 0) { %>
                                    <% userDetails.addresses.forEach(function(address, index) { %>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="selectedAddress"
                                                id="address_<%= index %>" value="<%= index %>" <%=index===0 ? 'checked'
                                                : '' %>>
                                            <label class="custom-control-label" for="address_<%= index %>">
                                                <%= address %>
                                            </label>
                                        </div>
                                        <% }); %>
                                            <% } else { %>
                                                <p>No addresses found.</p>
                                                <% } %>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Pincode</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="pincode"
                                    value="<%= userDetails.pincode %>" readonly>
                            </div>
                            <input type="text" name="userId" value="<%= user._id%>" hidden>
                        </div>
                    </div>
                    <div class="row address-fields" id="address2Fields" style="display:none;">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="John" name="name">
                            </div>

                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com" name="email">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789" name="mobile">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="address">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Pincode</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="pincode">
                            </div>
                            <input type="text" name="userId" value="<%= user._id%>" hidden>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>

                    <% if (typeof couponName !=='undefined' && couponName && typeof discountValue !=='undefined' &&
                        discountValue) { %>
                        <div id="appliedCouponDiv" class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-light">Applied Coupon Is:</h5>
                                <h5 class="font-weight-light">
                                    <%= couponName %>
                                </h5>
                                <h5 class="font-weight-light">
                                    <%= discountValue %>%
                                </h5>
                                <button type="button" class="btn btn-primary"
                                    onclick="removeCoupon('<%= couponName %>')">-</button>

                            </div>
                        </div>
                        <% } %>



                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold total">₹<%= total %></h5>
                            </div>
                        </div>
                        
                </div>

                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" value="COD">
                                <label class="custom-control-label" for="paypal">COD</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck"
                                    value="ONLINE">
                                <label class="custom-control-label" for="directcheck">Online Payment</label>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card border-secondary mb-5 col-md-6">
        <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">COUPON</h4>
        </div>
        <div class="card-footer border-secondary bg-transparent">
            <form class="mb-5" action="/apply-coupon" method="post" id="coupon-form">
                <div class="input-group">
                    <input type="text" name="total" value="<%= total %>" hidden>
                    <input type="text" class="form-control p-4" placeholder="Coupon Code" name="couponcode">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
                <div class="alert alert-danger mt-3">
                    <%= errorMessage %>
                </div>
                <% } %>
        </div>
    </div>
</div>
<!-- Checkout End -->

<script>
    $(document).ready(function () {
        $('input[name="addressGroup"]').change(function () {
            var selectedAddress = $('input[name="addressGroup"]:checked').val();
            $('.address-fields').hide();
            $('#' + selectedAddress + 'Fields').show();
        });
    });
</script>

<script>
    $("#checkout-form").submit((e) => {
    e.preventDefault();
    // Get the total value from the hidden input field
    let total = $('input[name="total"]').val();

    var selectedAddressGroup = $('input[name="addressGroup"]:checked').val();

    var formData = 'selectedAddressGroup=' + selectedAddressGroup;
    var userDetails = JSON.parse((`<%- JSON.stringify(userDetails) %>`));
    if (selectedAddressGroup === 'address1') {
        var selectedAddressIndex = $('input[name="selectedAddress"]:checked').val();
        var selectedAddress = userDetails.addresses[selectedAddressIndex];
        console.log("selected address is ", selectedAddress);
        formData += '&' +
            'name=' + $('#address1Fields input[name="name"]').val() +
            '&email=' + $('#address1Fields input[name="email"]').val() +
            '&mobile=' + $('#address1Fields input[name="mobile"]').val() +
            '&address=' + selectedAddress +
            '&pincode=' + $('#address1Fields input[name="pincode"]').val() +
            '&userId=' + $('#address1Fields input[name="userId"]').val();
    } else if (selectedAddressGroup === 'address2') {
        formData += '&' +
            'name=' + $('#address2Fields input[name="name"]').val() +
            '&email=' + $('#address2Fields input[name="email"]').val() +
            '&mobile=' + $('#address2Fields input[name="mobile"]').val() +
            '&address=' + $('#address2Fields input[name="address"]').val() +
            '&pincode=' + $('#address2Fields input[name="pincode"]').val() +
            '&userId=' + $('#address2Fields input[name="userId"]').val();
    }
    formData += '&' + 'payment=' + $('input[name="payment"]:checked').val();
    formData += '&' + 'total=' + total;
    $.ajax({
        url: '/place-order',
        method: 'post',
        data: formData,
        success: (response) => {
            if (response.codSuccess) {
                location.href = '/order-success?orderId=' + response.orderId;
            } else {
                razorpayPayment(response);
            }
        }
    });
});


    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_pwhvE482E5y8F4",
            "amount": order.amount,
            "currency": "INR",
            "name": "E-Shopper",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id,
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Shaman",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#ed9b9b"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: "post",
            success: (response) => {
                if (response.status) {
                    location.href = '/order-success?orderId=' + response.orderId;
                } else {
                    alert('Payment Failed')
                }
            }
        })
    }

    function removeCoupon(couponName) {
    console.log("function remove coupon called");
    console.log(couponName);
    $.ajax({
        url: '/remove-coupon',
        method: 'post',
        data: { couponName: couponName },
        success: (response) => {
            console.log("previous total is: ", response.total);
            // Update the total value on the UI
            var totalElement = document.querySelector('.font-weight-bold.total');
            if (totalElement) {
                totalElement.innerText = '₹' + response.total;
            }

            var hiddenTotalInput = document.querySelector('input[name="total"]');
            if (hiddenTotalInput) {
                hiddenTotalInput.value = response.total;
            }
            // Hide the applied coupon div
            var appliedCouponDiv = document.getElementById('appliedCouponDiv');
            if (appliedCouponDiv) {
                appliedCouponDiv.style.display = 'none';
            }
        },
        error: (xhr, status, error) => {
            console.error('Error removing coupon:', error);
        }
    });
}






</script>